.builder-container {
  min-height: calc(100vh - 13.2rem);
  display: grid;
  grid-template-columns: 28.8rem auto;
  overflow-y: auto;
}

.preview {
  position: relative;
  width: 100%;
}

.prevew-content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.preview-paragraph {
  font-size: 2rem;
  line-height: 3rem;
  color: var(--color-secondary900);
  font-weight: 500;
  margin-bottom: 1.6rem;
}