.add-new-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.text {
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 3.2rem;
}

.elements-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  gap: 2.4rem;
}

.element-list {
  text-align: center;
  width: 93px;
}

.element-name {
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.link {
  text-decoration: none;
  color: #000;
}