.icon {
  width: auto;
  height: auto;
  color: var(--color-white);
}

.icon-active {
  composes: icon;
  color: var(--color-secondary500);
  --icon-fill: var(--color-secondary500);
  --icon-stroke: var(--color-secondary500);
}
