/* .design-container {
  width: 100%;
  height: calc(100vh - 6.4rem);
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 2.4rem;
} */

.design-container {
  position: relative;
  flex-grow: 1;
  overflow: auto;
  height: calc(100vh - 6.4rem);
  padding: 2.4rem;
  background-color: #cbcbcb;
}
