.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
}
