html {
  font-size: 62.5% !important; /* 1rem = 10px */
}

:root {
  font-family: 'Roboto', sans-serif;
  
  --breakpoint-mobile: 102.4rem;
  --main-bg-color: #ffffff;
  --radius: 0.6rem;

  --icon-fill: #ffffff;
  --icon-stroke: #ffffff;

  --color-primary500: #48bd98;
  --color-primary50: #edf8f5;

  --color-secondary900: #041c27;
  --color-secondary800: #062434;
  --color-secondary600: #093c56;

  --color-text: #222222;

  --color-gray900: #3c3c3c;
  --color-gray800: #4e4e4e;
  --color-gray700: #656565;
  --color-gray500: #8e8e8e;
  --color-gray200: #cbcbcb;
  --color-gray100: #dcdcdc;
  --color-gray75: #ececec;
  --color-gray50: #f4f4f4;
  --color-white: #ffffff;

  --color-danger: red;
}

body {
  min-height: 30rem;
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
