.slide {
  min-width: 36rem;
  text-align: center;
}

a  {
  text-decoration: none;
}

.image {
  margin: auto;
}

.name {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  color: var(--color-gray900);
  text-decoration: none;
  text-align: left;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}