.slide-button {
  height: 23.5rem;
  width: 34.6rem;
  border-radius: var(--radius);
  background-color: var(--color-primary50);
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  align-items: center;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%2348BD98FF' stroke-width='4' stroke-dasharray='4%2c 16' stroke-dashoffset='60' stroke-linecap='square'/%3e%3c/svg%3e");
}

.text {
  color: var(--color-primary500);
  font-size: 1.4rem;
  line-height: 2.0rem;
}